.aboutUs {
  width: 70%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  margin-bottom: 50px;

  &__quote {
    color: $color-main-black;

    &--person {
      margin-top: 20px;
    }
  }
}
