.content {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 50px;
  
  &__apts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 25px;
    row-gap: 20px;
    column-gap: 30px;
  }
}

.apartment {
  background-color: #F2F2F2;

  img {
    width: 100%;
  }

  &__info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 15px 10px;
  }

  &__price {
    text-align: end;
  }
}