//colors

$color-main-gold: #9b6333;
$color-main-black: #383b37;

$color-light-beige: #f0ece7;

$color-white: #fff;

$color-gray-1: #f2f2f2;
$color-gray-2: #b2b2b2;
$color-gray-3: #d0d0d0;

$color-black: #000;
$color-black-1: #272525;
$color-black-2: #1d1d1d;